#choropleth_map {
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  /*height: 1000px;
	width: 800px;*/
}

.bgwhite {
  background-color: #ffffff;
}

.bg1 {
  background-color: rgb(252, 244, 172);
}

.bg2 {
  background-color: rgb(178, 224, 207);
}

.bg3 {
	background-color: rgb(164, 199, 186);
}

.factor-icon {
  width: 120px;
  filter: grayscale(100%);
}

.factor-icon:hover {
  filter: grayscale(0%);
  filter: brightness(110%);
}

.sp {
  display: none;
}

#gdp_sp {
  display: flex;
}

body {
  font-size: large;
  font-family: 'Inter', sans-serif !important;
  background-color: #ffffff;
}

.vega-bind-name {
  padding: 5px;
}

#flourish-credit {
  display: none !important;
}

#headline {
  font-family: "Sora", sans-serif;
  font-size: 4em;
}

.container {
  border: 1px solid;
  box-shadow: 5px 10px #919191;
}


select {
  background-color: rgb(255, 255, 255);
  padding: 2px;
}

