#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

.pink {
	background-color: pink;
}

.blue {
	background-color: lightblue;
}

.factor-icon {
	width:120px;
	filter: grayscale(90%);
}

.factor-icon:hover {
	filter: grayscale(0%);
	background-color: antiquewhite;
}

/* set a max-width for horizontal fluid layout and make it centered */
/* .container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 1400px; 
    } */

.sp {
	display: none;
}

#gdp_sp {
	display:flex;
}